<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <p style="float: left;"><img src="../img/golf.jpg" style="max-width: 500px" hspace="20"></p>
        <p class="lead text-left">I built this website to organize and showcase my experiences and accomplishments, to illustrate the progress I've made in learning analyzing data and building models. This website was built with the bootstrap framework.</p>
        <p class="lead text-left">For work, I analyze and optimize supply on Oath's display, video, and mobile advertising platforms. I'm also pursuing a MS in Applied and Computation Mathematics part-time at Johns Hopkins Unversity.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
