<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="image fit">
        <img src="images/golf.jpg" style="max-width: 300px" alt="">
      </div>
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <p class="lead">At the moment I analyze and optimize supply inventory on Oath's supply side advertising platforms.
          Additionally, I'm pursuing a MS in Applied and Computation Mathematics at Johns Hopkins Unversity.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
