<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <p style="float: left;"><img src="../img/golf.jpg" style="max-width: 500px" hspace="20"></p>
        <p class="lead text-left">I created this website to organize the skills that I've been building over the years. I'd like to do so by illustrating my experiences, showcasing cool projects, and consolidating my internet prescence. The website itself is built with the bootstrap framework sitting on top of a github repository.</p>
        <p class="lead text-left">My career began in finance, with aspirations of eventually getting an MBA. After stints quantifying risk at an energy commodities trading firm, raising capital and building a forecasting model for a solar and wind power company, my career started to evolve. I had always enjoyed building models but I was ready to take the next step forward.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
