<section id="portfolio" class="about">
  <h2 align="center">Posts</h2>
  <div class="container">
    <div class="list-group">

      <a href="../portfolio/traveling_salesman.html" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="media">
          <div class="media-body">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">The Traveling Salesman</h4>
            </div>
            <p class="lead text-left">Implementation of a Boltzmann Machine with Simulated Annealing to solve the Traveling Salesman Problem (TSP)</p>
            <small class="text-muted">5/13/2018</small>
          </div>
          <div class="media-right media-middle">
            <img src="img/python.png" class="media-object" hspace="20">
          </div>
        </div>
      </a>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<section id="portfolio" class="about">
  <h2 align="center">Posts</h2>
  <div class="container">
    <div class="list-group">

      <a href="../portfolio/classification.html" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="media">
          <div class="media-body">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">The Targeting Advertiser</h4>
            </div>
            <p class="lead text-left">Feed Forward Back Propagation Neural Network with Stochastic Gradient Descent - to predict Targeted Advertising scores trained with size of wallet and affluence scores.</p>
            <small class="text-muted">4/20/2018</small>
          </div>
          <div class="media-right media-middle">
            <img src="img/python.png" class="media-object" hspace="20">
          </div>
        </div>
      </a>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<section id="portfolio" class="about">
  <h2 align="center">Posts</h2>
  <div class="container">
    <div class="list-group">

      <a href="../portfolio/crime.html" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="media">
          <div class="media-body">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">The Cost of Crime in Baltimore</h4>
            </div>
            <p class="lead text-left">Linear Regression to derive the cost of crime to housing values in Baltimore, using crime data from Baltimore's API and median home values from Zillow's API.</p>
            <small class="text-muted">1/7/2018</small>
          </div>
          <div class="media-right media-middle">
            <img src="img/R.png" class="media-object" hspace="20">
          </div>
        </div>
      </a>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
